*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
html, body{
    /* overflow-x: hidden; */
    width: 100%;
}
p{
    font-size: 14px;
    color: #A1B1BC;
    line-height: 1.75;
    overflow: hidden;

}
.welc-page{
    /* width: 100vw; */
    height: 1280px;
    background-color: #222533;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.welc-main-content{
    margin-top: 462.8px;
    max-width: 1148px;
    text-align: center;
    /* margin-left: -60px; */
    
}
.welc-main-content h3 span{
    color: #1ABC9C;
}
.welc-main-content h3:first-child{
    font-size: 30px;
    letter-spacing: 9px;
    word-spacing: 0px;
    margin-left: 15px;
}
.welc-main-content h1{
    font-size: 60px;
    line-height: 1;
    /* margin-top: -26px; */
    margin-top: 15px;
    /* margin-left: 10px; */
    margin-bottom: 17px;
    font-weight: 900;
}
.welc-main-content h3:last-of-type{
    font-weight: 300;
    font-size: 30px;
    /* padding-left: 10px; */
    /* margin-top: -23px; */
    margin-left: 3px;
    font-weight: 100;
}
.welc-butt-wrap{
    width: 420px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
}
.welc-main-content button{
    width: 200px;
    height: 60px;
    border: 0;
    color: white;
    font-size: 18px;
    font-weight: 900;
    
}
.welc-main-content button:first-of-type{
    border: 2px solid #FFFFFF;
    background-color: transparent;
}

.welc-main-content button:last-of-type{
    background-color: #1ABC9C;
}
.welc-page form{
    max-width: 86px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.welc-page form input{
    width: 14px;
    height: 14px;
}

input[type='radio']:checked:after {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    position: relative;
    background-color: #1ABC9C;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid white;
}

header{
    box-shadow: 0px 0px 9px rgb(65, 62, 62);
}
/* HEADER */
.header-box{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;
    height: 90px;
}

.header-box .Logo{
    display: flex;
}
.header-box .Logo h1{
    font-size: 35.69px;
    font-weight: 400;
    margin-left: 15px;
}
.header-box .Logo h1 span{
    font-weight: 700;
}
.header-box ul {
    display: flex;
    width: 788px;
    justify-content: space-between;
    margin-right: 70px;

}
.header-box ul li{
    list-style: none;
}
.header-box ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #A1B1BC;
}

/* aboutus */
.aboutUS-whole{
    border-bottom: 1px solid  #A1B1BC;
    width: 100%;
    padding-bottom: 100px;
}

.aboutUs{
    max-width: 1170px;
    margin: auto;
    margin-top: 92.5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* transform: translateX(8px); */
}

.aboutUs-Icon{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #DBE7EF;
    background-color: #FFFFFF;
}
.aboutUs-Icon div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #DBE7EF;

}

.aboutUs-box{
    margin-top: 33px;
    
    position: relative;
    width: 270px;
    text-align: center;
    border: 1px solid #DBE7EF;
}
.aboutUs .aboutUs-box h4{
 font-size: 18px;
 font-weight: 700;
 padding-top: 50.8px;
 margin-bottom: 10px;
 color: #2C3E50;
 font-weight: 700;
}
.aboutUs .aboutUs-box p{
    font-size: 14px;
    font-weight: 400;
    width: 188.89px;
    margin: auto;
    /* line-height: 1.75; */
    padding-bottom: 30px;
    /* color: #A1B1BC; */
}

/* aboutCompant */
.aboutCompany-whole{
    background-color: #ECF0F1;
    padding-bottom: 106px;
}

.aboutCompany{
   max-width: 1170px;
   /* transform: translateX(8px); */
   margin: auto;
   padding-top: 90px;
   display: flex;
   justify-content: space-between;

}
.aboutCompany h2{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 16px;
}
.aboutCompany p{
    width: 570px;
    font-weight: 400;
    font-size: 14px;
    word-spacing: -0.5px;
}
.aboutCompany p:last-of-type{
    margin-top: 24px;
}
.aboutCompany button{
    margin-top: 25px;
    width: 173.68px;
    height: 50px;
    font-weight: 900;
    font-size: 16px;
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
    color: #34495E;
    border-radius: 4px;
    
}
#figura{
    transform: translateY(10px);
    align-self: flex-end;
}

/* capabilities */
.capabilities-whole{
    padding-top: 90px;
    text-align: center;
    background-color: #222533;
    padding-bottom: 115px;
}
.capabilities-whole>h2 {
    font-size: 36px;
    font-weight: 100;
    color: white;
    /* transform: translateX(8px); */
    letter-spacing: 0.3px;
    margin-bottom: 12px;
}
h2{
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 0.3px;
}
.capabilities-whole>p {
    max-width: 630.7px;
    letter-spacing: -0.05px;
    margin: auto;
    /* transform: translateX(8px); */

}
.capabilities-circle{
    /* transform: translateX(20px); */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    height: 200px;
    border: 6px solid #1ABC9C ;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-top: 60px;
    margin: auto;
}
.capabilities-circle-small{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4E4E4E;
    width: 104.48px;
    height: 104.48px;
    border-radius: 50%;
    background-color: #ECF0F1;
    font-size: 18px;
}
.capabailities-box:nth-of-type(2) .capabilities-circle{
    border: 6px solid #21C2F8 ;
}
.capabailities-box:nth-of-type(2) .capabilities-circle-small{
    background-color: #2C3E50;
    color: white;
}

.capabilities-wrapper{
    display: flex;
    margin:auto;
    justify-content: space-between;
    margin-top: 56px;
    max-width: 1160px;
    /* transform: translateX(8px); */
}
.capabailities-box{
    max-width: 270.32px;
    text-align: center;
    
}
.capabilities-wrapper h4{
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin-top: 27px;
    margin-bottom: 14px;
}
.capabilities-wrapper p{
    color: white;
    font-weight: 400;
    max-width: 260px;
}


/* service */
.services{
    padding-top: 91px;
}
.services-text{
    max-width: 630.7px;
    margin: auto;
    text-align: center;
    /* transform: translateX(8px); */

}
.services-text h2{
    margin-bottom: 13px;
}
.services-list{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 45px;
    height: 300px;
}
.services-list-item{
    text-align: center;
    width: 25%;
    height: 100%;
    border: 1px solid #ECF0F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service-list-position{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.services-list-item h4{
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}
.services-list-item p{
    max-width: 339.58px;
    word-spacing: -0.3px;
    display: block;

}
.services-list-item 
    img {max-width:100%; height:auto}


.services-list-item:hover{
    background-color: #ECF0F1;
}

/* recent works */
.recentWorks{
    text-align: center;
    /* transform: translateX(8px); */
    padding-top: 90px;
    padding-bottom: 100px;
    background-color: royalblue;
}
.recentWorks h2{
    /* transform: translateX(8px); */
    margin-bottom: 10px;
}
.recentWorks p{
    max-width: 630.7px;
    background-color: rebeccapurple;
    margin: auto;
    word-spacing: -0.3px;
    /* transform: translateX(8px); */


}
.recentWorks-nav ul{
    display: block;
    display: flex;
    align-items: center;
    width: 805px;
    justify-content: space-between;
    /* transform: translateX(8px); */


}
.recentWorks-nav ul li{
    list-style: none;
}
.recentWorks-nav ul a{
    text-decoration: none;
    color: #707070;
    font-size: 14px;
}
.recentWorks-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    height: 52px;
    margin: 0 auto;
    margin-top: 47px;
    /* transform: translateX(8px); */

}
.recentWorks button{
    background-color: #ECF0F1;
    border: 1px solid #ECF0F1;
    color: #2C3E50;
    width: 122px;
    height: 36px;
    border-radius: 4px;
    /* transform: translateX(8px); */

}
.kubikebi{
    /* position: relative; */
    /* transform: translateX(8px); */

    max-width: 1170px;
    height: 400px;
    background-color: slateblue;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 54px;
}


.box-black{
    position: relative;
    background-color: #A1B1BC;
    width: 25%;
    height: 50%;
}
.box-white{
    position: relative;
    background-color: #ECF0F1;
    width: auto;
    width: 25%;
    height: 50%;
}
.box-black::after , .box-white::after{
    display: none;
    margin-top: 31px;
    content: "+";
    font-size: 50px;
    font-weight:100;
    color: #ECF0F1;
}

.box-white:hover::after, .box-white:hover .box-hover, .box-black:hover .box-hover,.box-black:hover::after {
    display: block;
}
.box-white:hover, .box-black:hover{
    background-color: #2C3E50;
}
.box-hover{
    content: "SIMPLE HOVER STYLE";
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 36%;
    background-color: #FFFFFF;
    z-index: 20;
    display: none;
}


.box-hover h3{
    margin-top: 20px;
    margin-bottom:4.1px ;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 1.5px;
}
.box-hover h5{
    color: #A1B1BC;
    font-size: 12px;
    letter-spacing: 1.8;
    font-weight: 300;
}
#triangle-up {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-100%);
    width: 1px;
    height: 1px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #FFFFFF;
  }

  /* review */

  .review-whole{
      padding-top: 90px;
      padding-bottom: 33px;
      text-align: center;
      background-color: #ECF0F1;
  }
  .review-whole h2{
    /* transform: translateX(8px); */

  }
  .review-whole>p:first-of-type{
      width: 650px;
      margin:auto;
      letter-spacing: -0.05px;
      margin-top: 11px;
      /* transform: translateX(8px); */
  }
  .review-second-text{
      max-width: 1170px;
      margin:auto;
      /* transform: translateX(8px); */
      margin-top: 65px;
      padding-top: 41px;
      padding-bottom: 48px;
      border: 1px solid #ECF0F1;
  }
  .review-second-text p{
      font-size: 17.7px;
      font-weight: 300;
      /* word-spacing: 1.85px; */
      letter-spacing: 0.3px;
  }
  .review-second-text p:last-of-type{
      letter-spacing: 0.34px;
  }
  .review-third-part{
      width: 112px;
      margin: auto;
      text-align: center;
      /* transform: translateX(8px); */
    margin-top: 29px;
  }
  #review-circle{
      width: 100%;
      height: 112px;
      border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E6EBED;
    background-color: #FFFFFF;
    margin-bottom: 15px;
  }

#review-small-circle{
    width: 100px;
    height: 100px;
    background-color: #A1B1BC;
    border-radius: 100%;
    
}
.review-third-part h5{
    font-size: 18px;
    /* font-weight: 700; */
    margin-bottom: 5px;
}
.review-whole form{
    width: 86px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    transform: translateX(12px);
}
.review-whole form input{
    width: 14px;
    height: 14px;
}

/* newFeatures */

.newFeatures{
    background-color: #666666;
    height: 881px;
    text-align: center;
    padding-top: 92px;
    text-align: center;
    /* transform: translateX(8px); */
    overflow: hidden;
    background-image: url(../images/strange.png);
    background-position: center center;
    
        background-attachment: fixed;
        width: 100%;
}
.newFeatures>:first-child{
    color: white;
    word-spacing: -0.7px;
    display: inline-block;
    margin-bottom: 4px;
}
.newFeatures>:first-child span{
    color: #26E2BD;
    word-spacing: -4px;
}
.newFeatures>p{
    width: 600.71px; margin: auto;
    color: #E8E8E8;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.2px;
}
.newFeatures p:last-of-type{
    margin-top: -1.3px;
}
.newFeature-item{
    max-width: 300px;
    margin-bottom: 38px;
    color: #FFFFFF;
}
.feat-col-1{
    text-align: end;
}
.feat-col-2{
    text-align: start;
}
.newFeatures-main{
    max-width: 1170px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 130px;
}
.newFeature-item h3{
    display: inline-block;
    margin-bottom: 23px ;
    font-weight: 700;
    font-size: 18px;
    margin-right: 6px;
    
}
.newFeatures i{
    border-radius: 50%;
    background-color: white;
    font-size: 52px;
     vertical-align: middle;
     color: #1FDAB5;
     
}


/* pricing table */
.pricing-whole{
    width: 100%;
    padding-top: 91px;
    padding-bottom: 100px;
    text-align: center;
    word-spacing: -2px;
    
}
.pricing-whole h2{
    transform: translateX(-2px);
    margin-bottom: 6px;
    font-weight: 300;
}
.pricing-whole>p {
    max-width: 650px;
    margin: auto;
    word-spacing: 1px;
    letter-spacing: -0.2px;
    transform: translateX(-3px);

}
.pricing-position{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing-sia{
    max-width: 1171px;
    background-color: #FFFFFF;
    margin:auto;
    margin-top: 83px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    
    font-size: 14px;
    font-weight: 300;
    color: #686D80;
    word-spacing: -0.3px;
}
.pricnig-firstcol{
    display: grid;
    grid-template-rows: 152px repeat(6,39px) 80px;
    grid-gap: 1px;
}

.pricing-back-black{
    background-color: #EAEBEC;
}
.pricing-back-white{
 background-color: #F6F6F6;
}
.pricing-back-gray{
    background-color: #ECF0F1;
}
.pricing-header{
    display: flex;
    flex-direction: column;
}
.pricing-special{
    position: relative;
    background:linear-gradient(to right, #1DD1AD, #45D0FF ) ;
    border-bottom: 2px solid #707070;
}
.pricing-header-first{
    width: 100%;
    height: 41%;
    background-color: #34495E;
    font-size: 24px;
    font-weight: 700;
    color:#FFFFFF;

}
.pricing-header-second{
    width: 100%;
    height: 59%;
    flex-direction: column;
}
.pricnig-firstcol:first-of-type .pricing-position:first-of-type{
    color: #A1B1BC;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.4px;
}
.pricing-button{
    width: 120px;
    height: 32px;
    border:none;
    background-color: #1ABC9C;
    font-size: 15px;
    color: white;
    font-weight: 700;
    box-shadow: 0px 2px 0px #16A085;
}
.pricing-header-second h3{
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 100;
    line-height: 1;
}
.pricing-header-second h4{
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 300;
    line-height: 1;
}
.pricnig-firstcol:hover .pricing-header-first{
    position: relative;
    height: 54%;
    top: -10px;
}
.pricnig-firstcol:hover .pricing-button{
    background-color: #3A3E4A;
}
.color-Q{
    color: #EF584D;
}
.color-R{
    color: #7BC200;
}
 
 /* .pricing-last-hover{
    width: 10px;
    height: 140px;
    background-color: #1ABC9C;
    margin-left: 5px;
    display: inline-block;
} */
 /* .pricing-last p{
     
     background-color: brown;
     
 }
 .pricing-last-hover{
     width: 10px;
     height: 140px;
     background-color: #1ABC9C;
     margin-left: 5px;
     display: inline-block;
 }
 .pricing-last button{
     width: 176px;
     height: 50px;
     background-color: #1ABC9C;
     font-size: 18px;
     font-weight: 700;
     border: none;
     color: #FFFFFF;
     border-radius: 4px;
 }
 .pricing-last-text h3{
     text-align: start;
     font-size: 24px;
     font-weight: 300;
     letter-spacing: 0.3px;
 }
 .pricing-last-text{
     margin-left: 32px;
     background-color: green;
     max-width: 823.5px;
 } */
 .pricing-last{
     position: relative;
     max-width: 1170px;
     height: 150px;
     margin: auto;
     text-align: start;
     display: flex;
     justify-content: center;
     align-items: center;
     border: 1px solid #EAEBEC;
     margin-top: 100px;
     
 }
 .pricing-last-text{
width: 1075.5px;
 height: 90px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 }
 .pricing-last-text p{
     max-width: 823.5px;
 }
 .pricing-last button{
    width: 176px;
    height: 50px;
    background-color: #1ABC9C;
    font-size: 18px;
    font-weight: 700;
    border: none;
    color: #FFFFFF;
    border-radius: 4px;
}
.pricing-text-position{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.pricing-last-text h3{
    text-align: start;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.3px;
}
.pricing-hover{
    position: absolute;
    width: 10px;
     height: 140px;
     background-color: #1ABC9C;
     top: 50%;
     transform: translateY(-50%);
     left: 5px;
     display: none;
     z-index: -1;
     
}
.pricing-last:hover .pricing-hover{
    display: block;
}

/* options */
.options-whole{
    background-color: #ECF0F1;
    margin-top: 100px;
    padding-bottom: 86px;
}
.options-box>div:first-of-type{
    display: flex;
    align-items: center;
    
    width: 100%;
    margin-bottom: 9px;
}
.options-box>div:first-of-type img{
    margin-right: 10px;
}
.options-box{
    width: 50%;
}
.options-box p{
    width: 240px;
    text-align: start;
}
.options-box button{
    border: none;
    color: #1ABC9C;
    font-size: 15px;
    font-weight: 700;
    margin-top: 7px;
}
.options-first{
    max-width: 600.68px;
    height: 338.28px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 40px;
}
.options-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
@media screen and (max-width: 1000px) {
    .options-first-part {
      flex-direction: column;
      align-items: center;
    }
  }


.options-first-part{
    max-width: 1200px;
    margin: auto;
    display: flex;
    
    justify-content: space-between;
    transform: translateX(14px);
}
.options-second-part{
    margin-top: 80px;
}
.options-second-part>img{
    /* margin-top: 14px;
    margin-right: 23px; */
    position: relative;
    top: 14px;
    right: 23px;
}

/* news */

.news-whole{
    padding-top: 105px;

    padding-bottom: 100px;
}
.news-header{
    max-width: 640px;
    margin: auto;
    text-align: center;

    transform: translateX(7px);
}
.news-header p{
    letter-spacing: -0.1px;
}
.news-header h2{
    margin-bottom: 9px;
}
.news-img{
    width: 170px;
    height: 200px;
    background-color: #CCCCCC;
    margin: 6px 20px 6px 0px;
  
}

.flex{
    display: flex;
}
.news-box{
    width: 385px;
    cursor: pointer;
}
.news-box h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}
.news-box i{
    margin-right: 10px;
    color: #1ABC9C;
}
.news-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1185px;
    transform: translateX(6px);
    margin: auto;
    margin-top: 40px;
    height: 460px;
    align-content: space-between;
}
 .news-icon-text:first-of-type{
    margin-top: 12px;
}
.news-icon-text:not(:first-of-type){
    margin-top: 6px;
}
.news-box:hover .news-img{
    background-color: #2C3E50;
}

/* keep in touch */
.section-intouch{
    width: 100%;
    height: 775px;
    padding-top: 90px;
    background-color: #222533;
    
}
.section-intouch .intouch-main{
    margin: auto;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    transform: translateX(3px);
    color: #FFFFFF;
}
.intouch-main .keep-intouch p {
    color: #FFFFFF;
    font-weight: 300;
    margin-top: 35px;
    word-spacing: 1.2px;
}
.keep-intouch{
    width: 49.72%;
    padding-left: 4px;
    padding-right: 6px;
    overflow: visible;
}
.meet-team{
    width: 48.72%;
    position: relative;
}
.intouch-icons{
    width: 87.2%;
    font-size: 26px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.mywifi{
    transform: rotate(45deg);
}
.keep-intouch i{
    cursor: pointer;
}
.keep-intouch form input{
    height: 50px;
    width: 100%;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #636372;
}
.keep-intouch form input::placeholder{
    color: #FFFFFF;
    padding-left: 20px;
    font-size: 15px;
}
.keep-intouch form button{
    width: 100%;
    height: 56px;
    background-color: #1ABC9C;
    font-size: 16px;
    font-weight: 900;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
}
.keep-intouch form{
    height: 386px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}
.keep-intouch form textarea{
    width: 100%;
    height: 100px;
    background-color: transparent;
    border: 1px solid  #636372;
    border-radius: 3px;
}
.team-container{
    padding-left: 4px;
    padding-right: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 452px;
}
.meet-team>h2{
    margin-left: 5px;
}

.team-box{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.team-img:hover{
    background-color: transparent;
}
.team-img::after{
    position: absolute;
    content: "+";
    font-size: 72px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.team-img{
    position: relative;
    width: 125px;
    height: 125px;
    background-color: #FFFFFF;
    border-radius: 3px;
}
.team-desc{
    max-width: 417px;
}
.team-desc h4{
    line-height: 1;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}
.team-desc p{
    color: white;
    font-weight: 300;
}
.team-desc p:last-of-type{
    margin-top: 6px;
}
.sami-kubili{
    position: absolute;
    bottom: 0px;
    left: 5px;
    display: flex;
}
.sami-kubili div{
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    margin-right: 6px;
}
.sami-kubili div:hover{
background-color: #1BEAC1;
}