*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
body{
    overflow-x: hidden;
}
p{
    font-size: 14px;
    color: #A1B1BC;
    line-height: 1.75;

}
.welc-page{
    width: 100vw;
    height: 1280px;
    background-color: #222533;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
/* .welc-main-content{
    margin-top: 462.8px;
    background-color: violet;
    max-width: 1148px;
    height: 264.2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
} */
.welc-main-content{
    margin-top: 462.8px;
    max-width: 1148px;
    text-align: center;
    /* margin-left: -60px; */
    
}
.welc-main-content h3 span{
    color: #1ABC9C;
}
.welc-main-content h3:first-child{
    font-size: 30px;
    letter-spacing: 9px;
    word-spacing: 0px;
    margin-left: 15px;
}
.welc-main-content h1{
    font-size: 60px;
    line-height: 1;
    /* margin-top: -26px; */
    margin-top: 15px;
    /* margin-left: 10px; */
    margin-bottom: 17px;
    font-weight: 900;
}
.welc-main-content h3:last-of-type{
    font-weight: 300;
    font-size: 30px;
    /* padding-left: 10px; */
    /* margin-top: -23px; */
    margin-left: 3px;
    font-weight: 100;
}
.welc-butt-wrap{
    width: 420px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
}
.welc-main-content button{
    width: 200px;
    height: 60px;
    border: 0;
    color: white;
    font-size: 18px;
    font-weight: 900;
    
}
.welc-main-content button:first-of-type{
    border: 2px solid #FFFFFF;
    background-color: transparent;
}

.welc-main-content button:last-of-type{
    background-color: #1ABC9C;
}
.welc-page form{
    width: 86px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.welc-page form input{
    width: 14px;
    height: 14px;
}

input[type='radio']:checked:after {
    width: 6px;
    height: 6px;
    border-radius: 6px;

    position: relative;
    background-color: #1ABC9C;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid white;
}

header{
    box-shadow: 0px 0px 9px rgb(65, 62, 62);
}
/* HEADER */
.header-box{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
    height: 90px;
    
}

.header-box .Logo{
    display: flex;
}
.header-box .Logo h1{
    font-size: 35.69px;
    font-weight: 400;
    margin-left: 15px;
}
.header-box .Logo h1 span{
    font-weight: 700;
}
.header-box ul {
    margin-right: 52px;
    display: flex;
    width: 788px;
    justify-content: space-between;

}
.header-box ul li{
    list-style: none;
}
.header-box ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #A1B1BC;
}

/* aboutus */
.aboutUS-whole{
    border-bottom: 1px solid  #A1B1BC;
    width: 100%;
    padding-bottom: 100px;
}

.aboutUs{
    max-width: 1170px;
    margin: auto;
    margin-top: 92.5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transform: translateX(8px);
}

.aboutUs-Icon{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #DBE7EF;
    background-color: #FFFFFF;
}
.aboutUs-Icon div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #DBE7EF;

}

.aboutUs-box{
    margin-top: 33px;
    
    position: relative;
    width: 270px;
    text-align: center;
    border: 1px solid #DBE7EF;
}
.aboutUs .aboutUs-box h4{
 font-size: 18px;
 font-weight: 700;
 padding-top: 50.8px;
 margin-bottom: 10px;
 color: #2C3E50;
 font-weight: 700;
}
.aboutUs .aboutUs-box p{
    font-size: 14px;
    font-weight: 400;
    width: 188.89px;
    margin: auto;
    /* line-height: 1.75; */
    padding-bottom: 30px;
    /* color: #A1B1BC; */
}

/* aboutCompant */
.aboutCompany-whole{
    background-color: #ECF0F1;
    padding-bottom: 106px;
}

.aboutCompany{
   max-width: 1170px;
   transform: translateX(8px);
   margin: auto;
   padding-top: 90px;
   display: flex;
   justify-content: space-between;

}
.aboutCompany h2{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 16px;
}
.aboutCompany p{
    width: 570px;
    word-spacing: -0.3px;
}
.aboutCompany p:last-of-type{
    margin-top: 24px;
}
.aboutCompany button{
    margin-top: 25px;
    width: 173.68px;
    height: 50px;
    font-weight: 900;
    font-size: 16px;
    
}
#figura{
    transform: translateY(10px);
    align-self: flex-end;
}